body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f8fb;
}

.contenedor{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:260px;
    background:#0B4F8A;
    color:white;
    padding:20px;
}

.sidebar h2{
    text-align:center;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    margin:5px 0;
    border-radius:8px;
}

.sidebar a:hover{
    background:#3B82F6;
}

.contenido{
    flex:1;
    padding:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    margin-bottom:20px;
    box-shadow:0 0 10px rgba(0,0,0,.1);
}

.progreso{
    background:#ddd;
    border-radius:20px;
    overflow:hidden;
}

.barra{
    background:#16A34A;
    color:white;
    text-align:center;
    padding:8px;
    width:5%;
}
